<a href="/">home</a>
<a href="/articles/saved">saved articles</a>
<a href="/scrape">scrape info</a>
<a href="/drop">clear All</a>

<h1>Read all about it</h1>

<div class="card-container">
    {{#each articles}}
    <div class="card">
        <div class="card-info">
            {{#if saved}}
            <i data-saved={{saved}} data-id="{{id}}" class="bookmark far fa-bookmark"></i>
            {{/if}}
            <h5 class="card-category">{{author}}</h5>
            <h1 class="card-title">{{title}}</h1>
            <p class="card-desc">{{description}}</p>
            <p class="check-note" data-id="{{id}}">check for notes</p>
        </div>
        <a class="card-select" target="_blank" href="https://www.apnews.com{{link}}">Select</a>
        <div class="card-icon" data-id="{{id}}" data-saved="{{saved}}">
            {{> article/saved saved=false}}
        </div>
    </div>
    {{/each}}
</div>

<div id="#notes"></div>

<div id="note-modal" style="display: none;" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <form action="">
            <div class="modal-body">
                <label for="title-input">Title</label>
                <input id="title-input" type="text">

                <label for="body-input">Body</label>
                <textarea name="" id="body-input" cols="30" rows="10"></textarea>
            </div>
            <button id="submit-button">submit</button>
        </form>
        <div class=" modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>

</div>